:root {
  /* fonts  */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'raleway', sans-serif;
  /* text colors */
  --main-txt-cl: #757575;
  --acent-txt-cl: #2196f3;
  --secondary-txt-cl: #000000;
  --secondary-w-txt-cl: #ffffff;

  /* bg colors */
  --grey-bg-cl: #2f303a;
  --light-bg-cl: #e5e5e5;
  --blue-bg-cl: #2196f3;

  /* others  */
}

/*  Body section */
body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}
/* reset styles  Скидання*/
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/*  Общий класс для вебстудио на 2 страницы  */

/*  Header section */

.link-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--acent-txt-cl);
}
.black {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}
.header-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: #212121;
}
/* Hover Focus and Heder */
.header-link:hover,
.header-link:focus,
.link-mail:hover,
.link-mail:focus,
.link-tel:hover,
.link-tel:focus {
  color: var(--acent-txt-cl);
}

.header-link-current {
  color: var(--acent-txt-cl);
}

.link-mail {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
.link-tel {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}
/* Hero section  */
.hero {
  background-color: var(--grey-bg-cl);
}
.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-w-txt-cl);
  background-color: var(--grey-bg-cl);
}

.hero-btn {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-w-txt-cl);
  background-color: var(--blue-bg-cl);
  border: transparent;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  color: #188ce8;
}
/* About section */
.about-subtitle {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
/* Section description */

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}
.team-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}
.team-subtitle {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: ;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}
.team-description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: ;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
/* Footer section 1 страница-совместный с портфолио */
.footer {
  background-color: var(--grey-bg-cl);
}

.footer-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--acent-txt-cl);
}
.white {
  color: var(--secondary-w-txt-cl);
}
.address-text-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-w-txt-cl);
}
.address-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* Hover Focus and Footer */
.address-link:hover,
.address-link:focus,
.address-text-link:hover,
.address-text-link:focus {
  color: var(--acent-txt-cl);
}

/* ПОРТФОЛИО CSS  */

/* HEDER Совместный с первой страницой  */

/* Main section */
.main-btn-current {
  color: var(--acent-txt-cl);
}
.main-btn:hover,
.main-btn:focus {
  color: var(--secondary-w-txt-cl);
  background-color: var(--blue-bg-cl);
}
.main-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  border: transparent;
  cursor: pointer;
}
.portfolio-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--secondary-txt-cl);
}
.portfolio-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
/* Footer section совместный с 1-й страницой */
